In [3]:
print("Hello")

Hello

In [2]:
t1=(1,2,3)

In [5]:
type(t1)

tuple

In [7]:
print(t1)

(1, 2, 3)

In [10]:
print(t1[1])

2

In [13]:
t1[0]

1

In [15]:
t1=(1,2,3,4,5,6,7,8,9,10)

In [17]:
t1[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [20]:
t1[1:1:]

()

In [37]:
t1[0:10:2]

(1, 3, 5, 7, 9)

In [38]:
t1.count(1)

1

In [39]:
t1.count("abc")

0

In [40]:
t1.index(4)

3

touple is immutable

In [41]:
t1=("abhi","verma",1,2,3,(1+2j))

In [42]:
for i in t1:
    print(i,type(i))

abhi <class 'str'>
verma <class 'str'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
(1+2j) <class 'complex'>

touple inside a touple and list inside a touple is possible as well

In [43]:
t3=((1,2,3),[1,2,3])

In [44]:
print(t3)

((1, 2, 3), [1, 2, 3])

In [45]:
del t3

In [46]:
t3

NameError: name 't3' is not defined

In [47]:
import pandas as pd